services:
  nginx:
    image: nginx:1.28-alpine
    container_name: nginx
    restart: unless-stopped

    ports:
      - "80:80"
      - "443:443"

    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro

    depends_on:
      - app
      - frontend
      - redis
      - grafana
      - promtail
      - loki
      - prometheus
    networks:
      - app-network

  promtail:
    image: grafana/promtail:latest
    container_name: promtail
    ports:
      - "9080:9080"
    volumes:
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - ./promtail-config.yaml:/etc/promtail/config.yml
    command: -config.file=/etc/promtail/config.yml
    privileged: true

    networks:
      - app-network

  loki:
    image: grafana/loki:latest
    container_name: loki
    ports:
      - "3100:3100"
    volumes:
      - ./loki-config.yaml:/etc/loki/local-config.yaml

    networks:
      - app-network

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheusdata:/prometheus

    networks:
      - app-network

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3002:3000"
    environment:
      GF_SECURITY_ADMIN_USER: ${GF_SECURITY_ADMIN_USER}
      GF_SECURITY_ADMIN_PASSWORD: ${GF_SECURITY_ADMIN_PASSWORD}
      GF_SERVER_ROOT_URL: https://fluentflow.space/grafana-dashboard/
    volumes:
      - ./grafana/datasources.yaml:/etc/grafana/provisioning/datasources/datasources.yaml
      - grafanadata:/var/lib/grafana
    networks:
      - app-network


  db:
    image: postgres:17-alpine
    container_name: postgres-db
    restart: unless-stopped

    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}

    volumes:
      - postgres_data:/var/lib/postgresql/data

    # ports:
    #   - "5433:5432"

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 60s
      timeout: 10s
      retries: 3

    networks:
      - app-network

  app:
    build: ./api
    env_file:
      - .env
    environment:
      ENVIRONMENT: production

    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy

    container_name: fastapi

    # ports:
    #   - "8000:8000"

    command: >
      sh -c "
        echo 'Waiting for database...' &&
        uvicorn app.main:app --host 0.0.0.0 --port 8000 --workers 2
      "

    healthcheck:
      test: ["CMD-SHELL", "curl --fail http://localhost:8000/ || exit 1"]
      interval: 30s
      timeout: 5s
      retries: 3

    networks:
      - app-network

  # metabase:
  #   image: metabase/metabase:latest
  #   container_name: metabase

  #   restart: unless-stopped

  #   # volumes:
  #   #   - /dev/urandom:/dev/random:ro

  #   # ports:
  #   #   - 6000:6000

  #   environment:
  #     MB_DB_TYPE: postgres
  #     MB_DB_DBNAME: ${POSTGRES_DB}
  #     MB_DB_PORT: 5432
  #     MB_JETTY_PORT: 6000
  #     MB_DB_USER: ${POSTGRES_USER}
  #     MB_DB_PASS: ${POSTGRES_PASSWORD}
  #     MB_DB_HOST: db

  #   healthcheck:
  #     test: curl --fail -I http://localhost:6000/api/health || exit 1
  #     interval: 60s
  #     timeout: 5s
  #     retries: 3

  #   depends_on:
  #     db:
  #       condition: service_healthy

  #   networks:
  #     - app-network

  frontend:
    build:
      context: ./client
    restart: unless-stopped

    # ports:
    #   - "3000:3000"

    environment:
      NODE_ENV: ${NODE_ENV:-production}

    container_name: nextjs

    depends_on:
      app:
        condition: service_healthy

    healthcheck:
      test: ["CMD-SHELL", "curl --fail http://localhost:3000 || exit 1"]
      interval: 60s
      timeout: 5s
      retries: 3

    networks:
      - app-network

  redis:
    image: redis:8.2-alpine
    container_name: kv-redis
    restart: unless-stopped

    # command:
    #   - /bin/sh
    #   - -c
    #   # - Double dollars, so that the variable is not expanded by Docker Compose
    #   # - Surround by quotes, so that the shell does not split the password
    #   # - The ${variable:?message} syntax causes shell to exit with a non-zero
    #   #   code and print a message, when the variable is not set or empty
    #   - redis-server --requirepass "$${REDIS_PASSWORD:?REDIS_PASSWORD variable is not set}"
    command: redis-server --requirepass Brawl01man

    ports:
      - "6379:6379"

    volumes:
      - redis_data:/data

    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 60s
      timeout: 10s
      retries: 3

    networks:
      - app-network
  
  celery:
    build: ./api
    container_name: celery_worker
    command: uv run celery -A app.lib.celery_app worker --pool=gevent --concurrency=4 -E
    depends_on:
      redis:
        condition: service_healthy
    environment:
      - ENVIRONMENT=production
    env_file:
      - .env
    networks:
      - app-network

volumes:
  postgres_data:
    driver: local

  redis_data:
    driver: local
  
  grafanadata:
  prometheusdata:

networks:
  app-network:
    driver: bridge
