@import "tailwindcss";

body {
  background-image: url("../assets/images/gradient1.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-blend-mode: normal;
  background-position: left center;
  backdrop-filter: blur(0px);
  backdrop-filter: brightness(100%);
}

.grad-bg {
  background-image: url("../assets/images/gradient2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: normal;
  backdrop-filter: brightness(120%);
}

/* .grad-button {
  background: linear-gradient(90deg, #ff99cc, #cc99ff);
} */

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
